

//INDEX//

.posicionTitulo {
    position: absolute;
    top: 0vw;
    left: 250px;
    font-size: 10vw; 
    color: white;
}

.tituloDos {
    font-size:90px;
    font-family:'Smooch', cursive;
    text-align: center;
}

//ATRACCIONES//

.tituloAtracciones{
    font-family: 'Smooch', cursive;
    text-align: center;
    font-size: 90px;
}

.hashtag{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 60px;
    color: chartreuse;
}

//ZONAS//

.tituloZonas{
    font-family: 'Smooch', cursive;
    text-align: center;
    font-size: 90px;
}

.subtitulosImagen{
    font-style: oblique;
    position: relative;
    bottom: 400px;
    font-size: 150px;
    text-align: center;
    color: white;
}

//HISTORIA//

.tituloHistoria{
    font-family:'Smooch', cursive;
    text-align: left;
    font-size: 100px;
}

.subtituloGaleses{
    font-style: italic;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;

}